<mat-toolbar color="primary" class="nav-bar">
    
    <div class="controls">
      <button
        class="showpage-btn navigation-btn"
        mat-raised-button
        routerLink=""
        routerLinkActive="active"
        ariaCurrentWhenActive="page"
      >
        Просмотр
      </button>
      <button
        class="editor-btn navigation-btn"
        mat-raised-button
        routerLink="editor"
        routerLinkActive="active"
        ariaCurrentWhenActive="page"
      >
        Редактирование
      </button>
      
      </div>
  </mat-toolbar>
  