<mat-toolbar color="primary" class="nav-bar">

    <div class="controls">
      <button
        class="showpage-btn navigation-btn"
        mat-raised-button
        routerLink=""
        routerLinkActive="active"
        ariaCurrentWhenActive="page"
      >
        {{"Просмотр" | transloco}}
      </button>
      <button
        class="editor-btn navigation-btn"
        mat-raised-button
        routerLink="editor"
        routerLinkActive="active"
        ariaCurrentWhenActive="page"
      >
        {{"Редактирование" | transloco}}
      </button>
      <mat-radio-group aria-label="Select an option">
        <mat-radio-button (click)="setLang('en')" checked=true value="en">EN</mat-radio-button>
        <mat-radio-button (click)="setLang('ru')" value="ru">RU</mat-radio-button>
      </mat-radio-group>

      </div>
  </mat-toolbar>
